DigitalXWebsite/Connected Services/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10539/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalXService" />
  <xs:import schemaLocation="http://localhost:10539/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPopularProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopularProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetPopularProductsResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetProductResult" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q4:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAllSubCategoriesResult" nillable="true" type="q5:ArrayOfProductSubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRetailers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRetailersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAllRetailersResult" nillable="true" type="q6:ArrayOfRetailer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="productIds" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetOrderProductsResult" nillable="true" type="q8:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsInStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsInStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUnitsInStockResult" nillable="true" type="q10:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="us" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="LoginResult" nillable="true" type="q11:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="customer" nillable="true" type="q12:Customer" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="address" nillable="true" type="q13:Address" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="contact" nillable="true" type="q14:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="RegisterResult" nillable="true" type="q15:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAddressTypesResult" nillable="true" type="q16:ArrayOfAddressType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetContactTypesResult" nillable="true" type="q17:ArrayOfContactType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAddressesResult" nillable="true" type="q18:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetAddressResult" nillable="true" type="q19:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="order" nillable="true" type="q20:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="CreateOrderResult" nillable="true" type="q21:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="DetailOrderResult" nillable="true" type="q22:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetOrderResult" nillable="true" type="q23:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q24:ArrayOfOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="orderDetails" nillable="true" type="q25:ArrayOfOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="CreateOrderDetailResult" nillable="true" type="q26:ArrayOfOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oid" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="q" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="DetailOrderDetailResult" nillable="true" type="q27:OrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oid" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="EditOrderDetailResult" nillable="true" type="q28:OrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="address" nillable="true" type="q29:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="EditAddressResult" nillable="true" type="q30:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="address" nillable="true" type="q31:Address" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DigitalXService" minOccurs="0" name="CreateAddressResult" nillable="true" type="q32:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>